/* General */  
body {width: 800px; margin: 0 auto;}

/* Typography */  
h1, h2 {text-align: center;}

/* block styling */  
body > div {border: 5px solid black; display: flex;}

/* Form styling */  
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background: url("./images/phone_globe\ copy.jpg") no-repeat center;
}

/* Styling the products display */ 
img {height: 200px; width: 200px;}